[DEFAULT]
openstack_client_http_timeout = 300

[auth]
# Bare metal flavors tend to quickly consume the default quota. Override to infinite.
compute_quotas=cores:-1,ram:-1

[identity]
v3_endpoint_type = publicURL
