[compute]
# NOTE(wszumski): networking on cirros image doesn't work
# CentOS-7.5-OFED4.3-OpenHPC
image_ref = 76f2819f-a5b1-43a4-9c9c-1896e6580967
image_ref_alt = 76f2819f-a5b1-43a4-9c9c-1896e6580967

[validation]
image_ssh_user = centos
